body{
    background-color:whitesmoke
}


.jumbotron{
    top: 0;
    background-color:#c071fe;  
    color: whitesmoke;
    text-align: center;
    height: 600px;
    border: solid;
}

.container{
    background-color:#c071fe;     
}



h1{
    font-size:72px;
    font-family: Poiret One, cursive;
}

.display-4{

    font-size:125px;
}

.lead{
    font-size: 50px;
    font-family: Poiret One, cursive;
}

.top{
    background-color:#c071fe;  
    position: fixed;
    justify-content: center;
   color: whitesmoke;
   text-align: center;
   font-family:Poiret One, cursive;
   font-size: 24px;
    
}

a{
    text-align:center;
    color: whitesmoke;
    justify-content: center;
    margin: auto;
}

h2{
    text-align: center;
    color:#c071fe;
    font-size: 50px;
    font-family: Poiret One, cursive;
}
hr{
    color: #c071fe;
}

.card-footer{
    color: black;
    background-color:#c071fe

}

.me{
    text-align: center;
}
.contact{
    margin-left: 30px;
    margin-right: 30px;
}

.contactme{
    height: 500px;
   background-color:#c071fe;
   border: solid;
   border-color: whitesmoke;
  
}
h3{
    color: whitesmoke;
    text-align: center;
    font-family: Poiret One, cursive;
    padding-top: 30px;
}

button{
    background-color:whitesmoke;
    color:#c071fe;
}